@import "normalize";
@import "modules/base";
@import "../bower_components/SassySMACSS/modules/base";
@import "../bower_components/SassySMACSS/modules/layout";
@import "../bower_components/SassySMACSS/modules/collapsible";
@import "../bower_components/SassySMACSS/modules/nav"; 
@import "../bower_components/SassySMACSS/modules/navicon";
@import "../bower_components/SassySMACSS/modules/post_preview";
@import "modules/layout";  
@import "modules/form";  
@import "modules/icn";  
@import "modules/story";  
@import "modules/google_map";  
@import "modules/summary";  
 


.nav
{
	float:right;   
	> .m_navItem, > .m_navGroup
	{
		a
		{
 
			&:hover
			{
				background-color:#464646;
				color:#ebebeb;
			}
			&:active
			{
				background-color:#343434;
				color:#efefef; 
			}
		}		
	} 
}     


.story.story-hero
{
	> .m_list{
		background-color:#4c575d;
		color:#efefef;
	}
	> .module.summary
	{
		background-color: #ebebeb;
	}

}

.form
{
	
	background-color:#ebebeb;
}
	 

.l_topbar
{
	background-color:#ebebeb;
	color:#212121; padding-bottom: .5em;

	h1
	{
		float:left; font-size:1.5em;
		margin: .25em 0;
	}

	h1, a:link, a:visited
	{
		color:#212121;		
	}
}

.l_footer
{
	margin-top:2em;
	background-color:#ebebeb;
}


