@import "normalize";
@import "modules/base";
@import "../bower_components/SassySMACSS/modules/base";
@import "../bower_components/SassySMACSS/modules/layout";
@import "../bower_components/SassySMACSS/modules/collapsible";
@import "../bower_components/SassySMACSS/modules/nav"; 
@import "../bower_components/SassySMACSS/modules/navicon";
@import "../bower_components/SassySMACSS/modules/post_preview";
@import "modules/story";  
@import "modules/summary";  
 

.nav
{
	float:right;   
}   

 

.l_topbar
{
	background-color:#ebebeb;
	color:#55646c; padding-bottom: .5em;
}