.story > .m_list > .m_listItem a {
  text-decoration: none; }

.story:before, .story > .m_list:before,
.story:after,
.story > .m_list:after {
  content: "";
  display: table; }

.story:after, .story > .m_list:after {
  clear: both; }

.story, .story > .m_list {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.story {
  width: 100%;
  position: relative; }
  .story > .m_list {
    list-style: disc;
    padding-top: 3%;
    padding-left: 7.5%; }
    .story > .m_list > .m_listItem {
      float: left;
      width: 100%; }
      .story > .m_list > .m_listItem > .module.icn {
        margin-right: 1em; }
      .story > .m_list > .m_listItem a {
        color: #fff; }
  .story > .module.picture, .story .module.google_map {
    width: 100%;
    margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 640px) {
    .story > .module.picture, .story .module.google_map {
      width: 30%;
      float: left;
      margin-right: 1em; }
    .story > .module.summary, .story > .m_list {
      width: 66%;
      float: right; } }

.story.story-hero {
  padding: 0;
  padding-bottom: 2em; }
  .story.story-hero > .m_list {
    list-style: none; }
  @media (min-width: 640px) {
    .story.story-hero {
      padding-top: 56.19922%; }
      .story.story-hero > .module.picture, .story.story-hero .module.google_map {
        position: absolute;
        top: 2.5%;
        width: 100%; }
      .story.story-hero > .module.summary {
        position: absolute;
        width: 100%;
        padding-right: 30%;
        top: inherit;
        z-index: -1;
        min-height: 14.5em; }
      .story.story-hero > .m_list {
        float: right;
        width: 30%;
        padding-left: 2%;
        margin-top: 0; } }
  @media (max-width: 640px) {
    .story.story-hero > .module.picture, .story.story-hero .module.google_map {
      width: 100%; }
    .story.story-hero > .module.summary {
      width: 100%; }
    .story.story-hero > .m_list {
      width: 100%; } }
