@import "../../bower_components/SassySMACSS/mixins/mediaQueries";
@import "../../bower_components/SassySMACSS/mixins/layout";


.story
{
	@extend %clearfix;
	width:100%; position: relative; 

	> .m_list
	{
		list-style: disc; padding-top: 3%;
		padding-left: 7.5%;
		> .m_listItem
		{

		}
	}


	> .module.summary
	{

	}

	> .module.picture
	{
		width:100%; margin: 0 auto;
	}
	@media (min-width: get_mediaQuery("sm")) and (max-width: get_mediaQuery("med"))
	{
		> .module.picture
		{
			width: 30%; float:left; margin-right: 1em;
		}
		> .module.summary, 	> .m_list
		{
			width: 70%; float:left; 
		}
	}
}


$defaults-story-hero-aspectRatio: percentage(555/1024) !default;

.story.story-hero
{
	padding: 0;
	padding-bottom:2em;
	> .m_list
	{
		list-style: none;
	}

	// For bigger than small, swap the location of things.
	
	@media (min-width: get_mediaQuery("med"))
	{
		padding-top: $defaults-story-hero-aspectRatio + 2%;

		> .module.picture
		{
			position: absolute; top: 2.5%; width: 100%;
		}

		> .module.summary
		{
			position: absolute;
			width: 100%;
			padding-right: 30%;
			bottom: 2em;
			z-index: -1;
			min-height: 12em;
		}

		> .m_list
		{
			float:right; width: 30%; padding-left: 2%;
			margin-top:0;
		}
	}
	@media (max-width: get_mediaQuery("med"))
	{
		> .module.picture
		{
			width: 100%;
		}

		> .module.summary
		{
			width: 100%;
		}

		> .m_list
		{
			width: 100%;
		}
	}

}


.story.story-hero
{
	> .m_list{
		background-color:#4c575d;
		color:#efefef;
	}
	> .module.summary
	{
		background-color: #ebebeb;
	}

}